@media only screen and (max-width:1312px) {

    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }

    .app-in-phone {
        width: 55%;
    }

    .location-feature-text {
        font-size: 80%;
    }
    .plan-section {
        font-size: 70%;
    }
}

@media only screen and (max-width:992px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box {
        margin-top: 10px;
    }

    .step-box:last-child {
        margin-top: 10px;
    }

    .work-steps:last-of-type {
        margin-bottom: 60px;
    }

    .app-in-phone {
        width: 55%;
    }
    
    .location-feature-text {
        font-size: 60%;
    }
}

@media only screen and (max-width:688px) {}
